@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
  font-family: "Kumbh Sans", sans-serif;
  padding: 5.5rem;
}

.container {
  max-width: 92rem;
  min-height: 51rem;
  margin: 0 auto;
  /* padding: 6rem 9.5rem 6rem 0; */
  display: flex;
  flex-grow: 1;
  gap: 7rem;
  border-radius: 2.5rem;
  background-color: hsl(240, 5%, 91%);
  box-shadow: 0rem 0rem 0.5rem 0.1rem hsl(263, 46%, 58%);

  position: relative;
}

/* ILLUSTRATION CONTAINER */

.illustration-container {
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: 102% 70%;
  background-size: 95rem 95rem;
  overflow: hidden;
}
.illustration {
  display: block;
  width: 115%;
  transform: translate(-15%, 20%);
}

.box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -25%);
  transition: transform 0.3s ease;
  animation: boxMove 2s ease-in-out;
  animation-iteration-count: infinite;
}

/* FAQ CONTAINER */

.faq-container {
  padding: 7rem 9.5rem 7rem 0rem;
  width: 55%;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(238, 29%, 16%);
  margin-bottom: 4rem;
}

.question-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.2rem 1rem;
  border: none;
  cursor: pointer;
  background: inherit;
}

.question-block,
.answer {
  /* padding: 1rem 0; */
  margin: 1rem 0;
}

.question-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsla(238, 29%, 16%, 0.841);
  line-height: 1.2;
}
.answer-text {
  font-size: 1.3rem;
  font-weight: 400;
  color: hsl(238, 29%, 16%);
  line-height: 1.2;
  padding-right: 2rem;
}

.hidden {
  display: none;
}
.question {
  border-bottom: 1px solid hsl(240, 26%, 85%);
}

.question-block:hover .question-text {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}

@keyframes boxMove {
  from {
    transform: translate(-50%, -25%);
  }
  50% {
    transform: translate(-54%, -28.5%);
  }
  to {
    transform: translate(-50%, -25%);
  }
}

/* MEDIA QUERIES*/

@media (max-width: 60em) {
  body {
    padding: 0;
    padding-top: 11rem;
  }
  .container {
    flex-direction: column;
    max-width: 32.5rem;
    max-height: 53rem;
    gap: 2rem;
    margin: 0 auto;
  }
  .faq-container {
    padding: 0rem 2rem;
    width: 100%;
  }
  .illustration-container {
    background-image: url(images/bg-pattern-mobile.svg);
    background-position: 50% -10%;
    background-size: 24rem 10rem;
    overflow: visible;
    height: 13rem;
  }
  .illustration {
    width: 70%;
    transform: translate(20%, -60%);
  }
  .heading {
    text-align: center;
    font-size: 3rem;
  }
  .question-text,
  .answer-text {
    font-size: 1.3rem;
  }
  .box {
    width: 9rem;
    top: -2%;
    left: 25%;
  }
} ;
